<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/nav.ejs') %>
    <div class="container">
      <h1 class="page-title">All products</h1>
      <ul class="products">
        <% products.forEach(product => { %>
        <a href="/product/<%= product._id %> ">
          <li>
            <h2><%= product.name %></h2>
            <h3><%= product.manufacturer %></h3>
          </li>
        </a>
        <% }) %>
      </ul>
    </div>
  </body>
</html>
