<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/nav.ejs') %>
    <div class="container">
      <h1 class="page-title">All products</h1>
      <ul class="products">
        <% products.forEach(product => { %>
        <a href="/product/<%= product._id %> ">
          <li>
            <div class="product-title">
              <h2><%= product.name %></h2>
              <h3><%= product.manufacturer %></h3>
            </div>
            <% if (product.image !== "" && product.image !== undefined) { %>
            <img src="/uploads/<%= product.image %> " alt="product-image" />
            <% } %>
          </li>
        </a>
        <% }) %>
        <p>You've reached the bottom!</p>
      </ul>
    </div>
  </body>
</html>
