<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head.ejs') %>
  <body>
    <%- include('../partials/nav.ejs') %>
    <div class="container">
      <div class="page-title">
        <h1><%= category.name %></h1>
        <div class="edit-delete">
          <a href="/category/<%= category._id %>/delete">Delete</a>
          <a href="/category/<%= category._id %>/update">Edit</a>
        </div>
      </div>
      <% if (category_products.length==0) { %>
      <div class="empty-category">
        <p>This category is empty</p>
        <a href="/product/create">Create a new product</a>
      </div>
      <% } else { %>
      <ul class="products">
        <% category_products.forEach(product => { %>
        <a href="/product/<%= product._id %> ">
          <li>
            <div class="product-title">
              <h2><%= product.name %></h2>
              <h3><%= product.manufacturer %></h3>
            </div>
            <% if (product.image !== "" && product.image !== undefined) { %>
            <img src="/uploads/<%= product.image %> " alt="product-image" />
            <% } %>
          </li>
        </a>
        <% }) %>
        <p>You've reached the bottom!</p>
      </ul>
      <% } %>
    </div>
  </body>
</html>
