<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head.ejs') %>
  <body>
    <%- include('../partials/nav.ejs') %>
    <div class="container categories-container">
      <div class="categories">
        <h1><%= title %></h1>
        <ul>
          <% categories.forEach(category => { %>
          <li>
            <a href="/category/<%= category._id %> ">
              <h2><%= category.name %></h2>
            </a>
          </li>
          <% }) %>
        </ul>
        <form action="/categories" method="POST">
          <input
            type="text"
            name="category"
            id="category"
            placeholder="Add new category"
            required
          />
          <button type="submit">Add</button>
        </form>
      </div>
    </div>
  </body>
</html>
