<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head.ejs') %>
  <body>
    <%- include('../partials/nav.ejs') %>
    <div class="container">
      <form action="" method="POST">
        <input
          type="text"
          name="category"
          id="category"
          value="<%= category.name %>"
        />
        <button type="submit">Save</button>
      </form>
      <a href="/category/<%= category._id %>/delete">Delete</a>
      <% if (category_products.length==0) { %>
      <p>This category is empty</p>
      <a href="/product/create">Create a new product</a>
      <% } else { %>
      <ul class="products">
        <% category_products.forEach(product => { %>
        <li>
          <a href="/product/<%= product._id %> ">
            <h2><%= product.name %></h2>
          </a>
          <h3><%= product.manufacturer %></h3>
        </li>
        <% }) %>
      </ul>
      <% } %>
    </div>
  </body>
</html>
