<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head.ejs') %>
  <body>
    <%- include('../partials/nav.ejs') %>
    <div class="container">
      <form action="" method="POST">
        <label for="name">Product Name</label>
        <input type="text" name="name" required value="<%= typeof product !==
        'undefined' ? product.name : "" %>"/>

        <label for="description">Product Description</label>
        <input type="text" name="description" value="<%= typeof product !==
        'undefined' ? product.description : ""%>"/>

        <label for="manufacturer">Manufacturer</label>
        <input type="text" name="manufacturer" value="<%= typeof product !==
        'undefined' ? product.manufacturer : ""%>"/>

        <label for="price">Price (in CHF)</label>
        <input type="text" name="price" value="<%= typeof product !==
        'undefined' ? product.price : ""%>"/>

        <label for="category">Category</label>

        <select name="category" id="category">
          <% categories.forEach(category => { %>
          <option value="<%= category._id %>"><%= category.name %></option>
          <% }) %>
        </select>

        <label for="link">Link to product</label>
        <input type="text" name="link" value="<%= typeof product !== 'undefined'
        ? product.link : ""%>"/>

        <button type="submit">Add product</button>
      </form>
    </div>
  </body>
</html>
