<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head.ejs') %>
  <body>
    <%- include('../partials/nav.ejs') %>
    <div class="container">
      <div class="product-detail">
        <div class="product-title">
          <h1><%= product.name %></h1>
          <h2><%= product.manufacturer %></h2>
          <% if (product.price !== null) { %>
          <h2 class="price"><%= product.price.toFixed(2) %> CHF</h2>
          <% } %>
        </div>
        <% if (product.image !== "") { %>
        <img src="/uploads/<%= product.image %> " alt="product-image" />
        <% } %>
        <p><%= product.description %></p>
        <a href="<%= product.link %> " target="_blank">Get it here</a>
        <div>
          <% product.category.forEach(element => { %>
          <a href="<%= element.url %>">See more <%= element.name %> </a>
          <% }) %>
        </div>
        <div class="edit-delete">
          <a href="/product/<%= product._id %>/update">Edit product</a>
          <a href="/product/<%= product._id %>/delete">Remove product</a>
        </div>
      </div>
    </div>
  </body>
</html>
